:root {
  --color--primary: #2980b9;
  --color--text: #343434;
}

html {
  font-family: 'Roboto', sans-serif;
  color: var(--color--text);
}

body {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.box {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background-color: var(--color--primary);
  border-radius: 5px;
  text-align: center;
  color: white;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.box--bigger {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.box--smaller {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
